body {
    background-color: rgb(17, 15, 15);
    color: beige;

}

h1 {
    background-color: beige;
    color: black;
    font-size: 20px;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 200px;

}

h2 {
    background-color: blueviolet;
    color: white;
    padding: 20px;


}


p {
    background-color: rgb(97, 97, 97);
    color: rgb(241, 86, 86);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;


}