*{
margin: 0px;
}

h1{
font-size: 4em;
text-decoration: underline;


}
section{

height: 25vh;

}

section:nth-child(odd){
color: white;
background-color: black;

}

section:nth-child(even){
color: black;
background-color: blanchedalmond;


}

hr{
border-color: red;
width: 33%;
margin: 50px auto;

}