* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.div1 {
    background-color: lightcoral;
}


.div2 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
}

span {
    background-color: lightgreen
}